@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tooltip-box.visible {
  display: inline-block;
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 10;
  background: rgba(156, 156, 156, 0.7);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  left: calc(5% + 5px);
}

.navbar-brand {
  white-space: initial;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myTabClass {
  filter: hue-rotate(55%);
  color: #1d3d57;
  color: #95a1c5;
  color: rgb(30, 59, 30);
  color: #9ba7c988;
  color: #1f3141;
  color: #143149;
  color: #676e74;
  color: #ffffff00;
  display: flex;
  flex-direction: row;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.123), 0 0 6px rgba(0, 0, 0, 0.151);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #95a1c5;
  background-color: #1d3d57;
  border-color: #95a1c5;
}

.nav-item button {
  color: #95a1c5;
}

.nav-tabs {
  border-bottom: 2px solid #8892b088;
}

.nav-tabs .nav-link:hover {
  color: #95a1c5;
  border-color: #95a1c5;
}

/* @media only screen and (max-width: 600px) {

} */

/*****************************************************************
* REACT TABS STYLING
*******************************************************************/

.react-tabs {
  display: flex;
  color: #95a1c5;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 9rem;
  margin: 0;
  padding: 0;
  color: #95a1c5;
  /* border-left: 2px solid #8892b088; */
  border-left: 2px solid #95a1c579;
}

.react-tabs__tab {
  list-style: none;
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  color: #95a1c5;
}

.react-tabs__tab:hover {
  background: #95a1c51c;
  color: rgb(222,184,135);
}

.react-tabs__tab--selected {
  background: #95a1c51c;
  /* border-color: #1c1d1f; */
  border-left: 2px solid rgb(222,184,135);
  color: rgb(222,184,135);
}

/* .react-tabs__tab--selected:before {
  position: absolute;
  left: 0;
} */

.react-tabs__tab-panel {
  display: none;
  padding: 0 0 0 2rem;
  /* width: 300px; */
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 25px;
}

@media only screen and (max-width: 320px) {
  .react-tabs {
    flex-direction: column;
  }

  .react-tabs__tab-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-left: 0px;
  }

  .react-tabs__tab {
    padding: 6px 6px 0px 0px;
  }
  
  .react-tabs__tab--selected {
    background: #95a1c51c;
    border-left: 0px solid rgb(222,184,135);
  }
  
  .react-tabs__tab-panel {
    padding: 0 0 0 0;
  }
  
  .react-tabs__tab {
    padding: 1rem;
  }
  
  .react-tabs__tab--selected {
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .react-tabs {
    flex-direction: column;
  }

  .react-tabs__tab-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-left: 0px;
  }

  .react-tabs__tab {
    padding: 6px 6px 0px 0px;
  }
  
  .react-tabs__tab--selected {
    background: #95a1c51c;
    border-left: 0px solid rgb(222,184,135);
  }
  
  .react-tabs__tab-panel {
    padding: 0 0 0 0;
  }
  
  .react-tabs__tab {
    padding: 1rem;
  }
  
  .react-tabs__tab--selected {
    padding: 1rem;
  }
}

/* @media only screen and (max-width: 1200px) {

} */